@{ ViewData["Title"] = "Losowanie";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2 style="font-family: 'Calibri'; text-align: center; color: #F24F13">
    Wylosowano nową liczbę.
</h2>